{% assign projects = site.data.cv.projects %}

<h2>Projects</h2>
<ul>
    {% for p in projects %}
    <li><a href="{{ p.url }}">{{ p.name }}</a> ({{ p.full_name }})
        <ul>
            {% if p.description.awards %}
                {% for aw in p.description.awards %}
                    <li>{{ aw.summary }}</li>
                {% endfor %}
            {% endif %}
            {% for desc in p.description.items %}
            <li>{{ desc }}</li>
            {% endfor %}
            {% if p.applications %}
            <li>{{ p.applications.summary }}
            <ul>
                {% for app in p.applications.list %}
                <li>{{ app }}</li>
                {% endfor %}
            </ul>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
