---
---

@import "{{ site.theme }}";
.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: calc(#{$right-sidebar-width-narrow} / 2);
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: calc(#{$right-sidebar-width} / 2);
  }
}

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 12px;

  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 12px;
  }

  @include breakpoint($x-large) {
    font-size: 12px;
  }
}

.site-title {
    font-size: $type-size-3;
}

ul li,
ol li {
  margin-bottom: 0.3em;
}
.sidebar .author__name {
  font-size: $type-size-4;
}
.sidebar {
  p,
  li {
    font-family: $sans-serif;
    font-size: $type-size-5;
    line-height: 1.5;
  }
}